@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0A192F;
}

.mono-text {
  font-family: 'Fira Code', monospace;
}

.mono-color {
  color: #64ffda;
}